   ::-webkit-scrollbar {
       display: none;
   }

   #banner {
       position: relative;
       width: 100%;
       height: 100%;
       background: #182228;
       transform-origin: top right;
       transform: skewY(4deg);
   }

   .row div {
       padding-top: 30px;
   }

   #game {
       width: 100vw;
       height: calc(100vw/1.77);
       object-fit: cover;
       left: 0px;
       margin: 0px;
       position: fixed;
       top: 0px;
       z-index: -999;
   }

   #game2 {
       width: 100vw;
       height: calc(100vw/1.77);
       object-fit: cover;
       left: 0px;
       margin: 0px;
       position: relative;
       top: 0px;
       z-index: -900;
   }

   #banner2 {
       width: 100%;
       height: 100%;
       background: #182228;
       transform-origin: bottom right;
       transform: skew(0deg, -4deg);
   }

   #banner3 iframe {
       transform: skew(0deg, 4deg);
   }

  

   #banner3 {
       width: 100%;
       height: 100%;
       background: #182228;
       transform-origin: bottom right;
       transform: skew(0deg, -4deg);
   }

   #wel {
       background: grey;
       height: 80%;
       width: 100%;
       position: relative;
       top: 0;
   }

   #navi {
       color: white;
       text-align: center;
       height: 100%;
       width: 100%;
       position: fixed;
       padding: 20px;
       z-index: 1000;
       background: linear-gradient(166deg, #22477e, #1d201f, #f05b6e);
       background-size: 600% 600%;
       -webkit-animation: AnimationName 5s ease infinite;
       -moz-animation: AnimationName 5s ease infinite;
       animation: AnimationName 5s ease infinite;
       overflow: hidden;
       transition: all 0.3s;
   }

   #edoti {
       background: transparent;
       border: transparent 0px;
       font-size: 20px;
   }

   @-webkit-keyframes AnimationName {
       0% {
           background-position: 0% 50%
       }
       50% {
           background-position: 100% 50%
       }
       100% {
           background-position: 0% 50%
       }
   }

   @-moz-keyframes AnimationName {
       0% {
           background-position: 0% 50%
       }
       50% {
           background-position: 100% 50%
       }
       100% {
           background-position: 0% 50%
       }
   }

   @keyframes AnimationName {
       0% {
           background-position: 0% 50%
       }
       50% {
           background-position: 100% 50%
       }
       100% {
           background-position: 0% 50%
       }
   }

   #small {
       position: relative;
       width: auto;
       display: flex;
       justify-content: space-evenly;
       transition: all 1s;
   }

   #ntext {
       font-size: larger;
       margin-top: -50px;
       margin-bottom: 50px;
   }

   #svg {
       position: relative;
       /* left:50%;
       right:50%;
       transform: translate(-50%,-50%); */
       display: flex;
       justify-content: center;
       margin: 0 auto;
       height: 50%;
       width: 50%;
       animation: shrink 1s infinite alternate ease-in-out;
   }

   /* @keyframes shrink{
    from {height: 50%;
    width: 50%;}
    from {height: 0%;
        width: 0%;}
   } */

   #ncon {
       height: 100%;
   }

   a:hover {
       transform: scale(1.17);
       transition: trasform 0.5s;
   }

   #rot {
       transform: rotate(270deg);
   }