#bf {
    background-image: url('https://media.tenor.com/images/354103154b309c708adab701d1b318a4/tenor.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#apex {
    background-image: url(/public/images/apex.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#dis {
    background-image: url(/public/images/discord.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#r6 {
    background-image: url(/public/images/r6.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#home {
    background-image: url(/public/images/landing.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

nav {
    padding: 5px;
    overflow: hidden;
    z-index: 100;
    color: white;
    background: rgb(34, 34, 34);
    position: relative;
    height: 70px;
    width: 100vw;
}

li:hover {
    transition: all 0.5s;
}

.dot {
    margin-left: -15px;
    transition: all 0.3s;
    height: 60px;
    width: 60px;
    box-shadow: 0px 0 0px 0px rgb(250, 250, 250);
    border: white 2px solid;
    border-radius: 50%;
}

.dot:hover {
    transition: all 0.5;
    box-shadow: 0px 0 5px 2px rgb(250, 250, 250);
    transform: scale(1.05);
}

ul {
    margin-left: 10px;
    padding: 0;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-around;
}

li {
    text-align: center;
    transition: all 0.5s;
}


/* footer */

footer {
    background-color: rgb(77, 48, 48);
    color: white;
    text-align: center;
}

#bb {
    margin: 0 auto;
    width: 250px;
    display: flex;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: rgb(248, 183, 123);
    text-decoration: none;
}

#footer>h3 {
    font-family: 'Big Shoulders Display', cursive;
    margin: 0px;
    color: yellow;
}

#bb>img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

.card {
    /* background-color: #616161; */
    background-color: transparent;
    color: white;
    border: none
}

.head1 {
    font-weight: 900;
    font-size: 25px;
}

.bdr {
    border-bottom: 1.5px solid #FFB74D;
    width: 65px;
    margin-right: auto;
    margin-left: auto
}

.card-footer {
    justify-content: space-between;
    border: none;
    background: none;
    border-bottom: 0.5px solid #9E9E9E
}

.footer-right>i {
    margin-left: 15px
}

.card-title {
    margin-bottom: .75rem;
    font-weight: 900;
    font-size: 15px;
    margin-top: 1.75rem
}

.learn-more {
    color: #FFB74D
}

.card-content {
    padding-right: 40px;
    padding-left: 30px;
    padding-bottom: 10px;
    padding-top: 10px
}

.card-content>p {
    color: #9E9E9E
}

.heading {
    position: relative;
    top: 75px
}

.follow-text {
    color: #9E9E9E
}


/* coming soon */

::-webkit-scrollbar {
    display: none;
}

#soon {
    padding: 20px;
    height: 100vh;
    width: 100%;
    background-color: rgb(148, 47, 126);
}

#soon div {
    padding: 10px;
    color: white;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 3px;
}